$bold:          700;
$semibold:      500;
$regular:       400;
$light:         300;


body { background-color: #ffffff; }

header {
    padding-top:15px;

}

// Style for the logo
.logo {
    img {
        margin-bottom:5px;
        margin-left:15px;

        footer & {
            display:block;
            margin-right: auto;
            margin-left: auto;
            margin-top: 10px;
        }
    }
}

// Styles for texts/phone number in header containing the phone number and the green phone icon
.tel,
.tel-with-ico {
    display:inline-block;
    margin:0 15px;
}

.tel { font-size:22px; }

.tel-with-ico {
    background-image:url("../img/ico/ico-tel.png");
    background-position:left center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    letter-spacing:-0.2px;
    margin-bottom:5px;
    padding-left:25px;
}

// Introducing section (green background)
.intro {
    background-image:url("../img/intro/bg-green.jpg");
    background-repeat:no-repeat;
    background-size:100% auto;
    color:#ffffff;
    padding:15px;

    h2 { text-align:left;  }
}

// Video section with text over the video
.video {
    padding-top:15px;

    p {
        font-size:21px;
        line-height:26px;
    }
    .video_obj { height:200px; }

}

// Supply section (boxes)
.boxes {
    display:none;
    padding-bottom:15px;
    padding-top:15px;

    .box {
        background-color:#ffffff;
        box-shadow:0 0 10px 0px #000;
        margin:30px 40px 30px 30px;
        padding:15px 15px 30px 15px;
        position:relative;
        text-align:center;

        .top-circle {
            background-color:#e87b15;
            box-shadow: 0 0 10px 0 #000;
            border-radius: 50%;
            color:#ffffff;
            font-weight:$bold;
            height:75px;
            line-height:1em;
            padding-top:20px;
            position:absolute;
            right:-30px;
            top:-30px;
            width:75px;

            span {
                font-size:1.5em;
            }
        }
        .title {
            font-weight:$bold;
            margin-bottom:0px;
            margin-top:10px;
        }
        .info {
            font-weight:$semibold;
            margin-bottom:0;
        }
        img.supply {
            margin-top:10px;
        }
        .price {
            font-size:30px;
            font-weight:$bold;
            letter-spacing: 1px;
            margin-bottom:0;

            small {
                font-size:45%;
                text-decoration:underline;
                vertical-align:middle;
            }
        }
        .highlight {
            background-image:url("../img/boxes-supply/highlight.png");
            background-position:center center;
            background-repeat:no-repeat;
            font-size:19px;;
            font-weight:$semibold;
            margin-bottom:0;
        }

        &.most_popular {
            .top-circle { top:-45px; }
            &:before {
                background-color:#008ba4;
                box-shadow:0 0 10px 0px #000;
                color:#ffffff;
                content:"MOST POPULAR";
                height:calc(100% + 45px);
                font-weight:$bold;
                left:-15px;
                position:absolute;
                top:-30px;
                width:calc(100% + 30px);
                z-index:-1;
            }
        }
    }
}
.button {
    background-image:url("../img/ico/bg-button.jpg");
    background-size: 100% 100%;
    border-radius:5px;
    color:#ffffff;
    display:block;
    margin:0 auto;
    padding: 10px 10px 10px 50px;
    position:relative;
    text-align:center;
    width: 85%;

    &:before {
        background-image:url("../img/boxes-supply/7-year-guarantee.png");
        background-size:100%;
        content:"";
        height:75px;
        left:-25px;
        position:absolute;
        top:-15px;
        width:75px;
    }
    .arrow-right {
        width: 0;
        display: inline-block;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 15px solid #fff;
        vertical-align: middle;
        margin-bottom: 2px;
        margin-left: 15px;
    }

}

// Supplement facts section
.supplement-facts {
    padding-bottom:15px;
    padding-top:15px;

    .table-facts {
        background: white;
        border:3px solid #000000;

        h2 {
            margin-bottom:0;
            margin-top:0;
        }

        th { padding:5px 0; }
        td {
            line-height: 18px;
            width:100%;

            &.element {
                padding-bottom: 5px;
                padding-top: 5px;

                span {
                    display:block;
                    max-width: 65%;
                }
            }
        }
        .border-b { border-bottom:8px solid #000000;
            td {
                padding-bottom:5px;
                padding-top:5px;
            }
        }
        .border-t-large {
            border-top:15px solid #000000;

            td {
                padding-bottom:5px;
                padding-top:5px;
            }
        }

    }
}


// guarantee
.guarantee {
    padding-bottom:15px;
    padding-top:15px;
    text-align:center;

    .box-green {
        background-image:url("../img/intro/bg-green.jpg");
        background-size: auto 100%;
        padding:15px
    }
    .box-white {
        background-color:#ffffff;
        padding:15px 30px;
    }

    figure { margin:0 auto; }
    h3 {
        color:#e16b1e;
        margin-bottom:0;
        margin-top:30px;
        text-align:left;
    }
    p { text-align:left; }
    a { text-decoration:underline; }
}

// Scientific references
.scientific_references {
    padding-bottom:15px;
    padding-top:15px;

    h5 {
        color:#008ba4;
        font-size:1.3em;
    }
    ol {
        padding-left:15px;
        padding-top:10px;

        li {
            color:#383838;
            font-size: 18px;
            line-height: 25px;
            word-break:break-word;
        }
    }
    h5, ol {
        margin:0 auto;
        width:61%;
    }
    a {
        display: block;
        font-size: 20px;
        margin: 15px auto;
        text-align: center;
        text-decoration:underline;
    }
    .button {
        font-size: 22px;
        letter-spacing: 1.4px;
        margin-left: 50px;
        text-decoration:none;
        width:75%;

        &:before {
            height:100px;
            top:-25px;
            width:100px;
        }
    }
}


// footer
footer {
    padding-top:15px;
    padding-bottom:15px;

    nav.col {
        padding: 0 9%;
        text-align: center;

        a {
            color:#8f8f8f;
            font-size:18px;
        }
    }
}
.copyright {
    color:#333333;
    font-size: 18px;
    margin-top:15px;
    text-align: center;
}
