// Set variable to reuse around the website.
$primary-font:          'Glober', 'Roboto', sans-serif;
$color-link:            #54b8cd;


html {
    margin:0;
    padding:0;
}

// Set titles styles
body {
    font-family:$primary-font;
    font-size:17px;
    font-weight:300;
}

// Title styles / font / font weight
h1 {
    font-size:1.8em;
    font-weight: 400;
    letter-spacing:1px;
    margin-top:10px;
    position:relative;
    text-align:center;
    text-transform: uppercase;

    .intro &:before, .intro &:after {
        background-color:#ffffff;
        content:'';
        height:2px;
        left:-2%;
        position:absolute;
        top:48%;
        width:18%;
    }
    .intro &:after {
        left:auto;
        right:-2%;
    }
}

h2 {
    letter-spacing:-1px;
    line-height:43px;
    margin-left:15px;
    margin-top:5px;
    text-align:center;

    .underline-red {
        background-image:url("../img/intro/bg-red-line.png");
        background-position:0px -8px;
        font-size:1.2em;
        letter-spacing:0.8px;
    }
}

h3 {
    text-align:center;
}

img { max-width:100%; }

// Change color for anchors
a {
    color:$color-link;

    &:hover { color:$color-link; }
}

.info { color:$color-link; }

// Add class .bold to set paragraphs bold with a class instead of only <b>
b, .bold { font-weight:700; }


//
.hidden { display:none!important; }
.visible { display:block!important; }
