body {
  background-color: #ffffff; }

.logo img {
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 15px; }
  footer .logo img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px; }

.tel,
.tel-with-ico {
  display: inline-block;
  margin: 0 15px; }

.tel {
  font-size: 22px; }

.tel-with-ico {
  background-image: url("../img/ico/ico-tel.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  letter-spacing: -0.2px;
  margin-bottom: 5px;
  padding-left: 25px; }

.intro {
  background-image: url("../img/intro/bg-green.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  padding: 15px; }
  .intro h2 {
    text-align: left; }

.video {
  padding-top: 15px; }
  .video p {
    font-size: 21px;
    line-height: 26px; }
  .video .video_obj {
    height: 200px; }

.boxes {
  display: none;
  padding-top: 15px; }
  .boxes .box {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px #000;
    margin: 30px 40px 30px 30px;
    padding: 15px 15px 30px 15px;
    position: relative;
    text-align: center; }
    .boxes .box .top-circle {
      background-color: #e87b15;
      box-shadow: 0 0 10px 0 #000;
      border-radius: 50%;
      color: #ffffff;
      font-weight: 700;
      height: 75px;
      line-height: 1em;
      padding-top: 20px;
      position: absolute;
      right: -30px;
      top: -30px;
      width: 75px; }
      .boxes .box .top-circle span {
        font-size: 1.5em; }
    .boxes .box .title {
      font-weight: 700;
      margin-bottom: 0px;
      margin-top: 10px; }
    .boxes .box .info {
      font-weight: 500;
      margin-bottom: 0; }
    .boxes .box img.supply {
      margin-top: 10px; }
    .boxes .box .price {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 0; }
      .boxes .box .price small {
        font-size: 45%;
        text-decoration: underline;
        vertical-align: middle; }
    .boxes .box .highlight {
      background-image: url("../img/boxes-supply/highlight.png");
      background-position: center center;
      background-repeat: no-repeat;
      font-size: 19px;
      font-weight: 500;
      margin-bottom: 0; }
    .boxes .box.most_popular .top-circle {
      top: -45px; }
    .boxes .box.most_popular:before {
      background-color: #008ba4;
      box-shadow: 0 0 10px 0px #000;
      color: #ffffff;
      content: "MOST POPULAR";
      height: calc(100% + 45px);
      font-weight: 700;
      left: -15px;
      position: absolute;
      top: -30px;
      width: calc(100% + 30px);
      z-index: -1; }

.button {
  background-image: url("../img/ico/bg-button.jpg");
  background-size: 100% 100%;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 10px 10px 10px 50px;
  position: relative;
  text-align: center;
  width: 85%; }
  .button:before {
    background-image: url("../img/boxes-supply/7-year-guarantee.png");
    background-size: 100%;
    content: "";
    height: 75px;
    left: -25px;
    position: absolute;
    top: -15px;
    width: 75px; }
  .button .arrow-right {
    width: 0;
    display: inline-block;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #fff;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 15px; }

.supplement-facts {
  padding-top: 15px; }
  .supplement-facts .table-facts {
    background: white;
    border: 3px solid #000000; }
    .supplement-facts .table-facts h2 {
      margin-bottom: 0;
      margin-top: 0; }
    .supplement-facts .table-facts th {
      padding: 5px 0; }
    .supplement-facts .table-facts td {
      line-height: 18px;
      width: 100%; }
      .supplement-facts .table-facts td.element {
        padding-bottom: 5px;
        padding-top: 5px; }
        .supplement-facts .table-facts td.element span {
          display: block;
          max-width: 65%; }
    .supplement-facts .table-facts .border-b {
      border-bottom: 8px solid #000000; }
      .supplement-facts .table-facts .border-b td {
        padding-bottom: 5px;
        padding-top: 5px; }
    .supplement-facts .table-facts .border-t-large {
      border-top: 15px solid #000000; }
      .supplement-facts .table-facts .border-t-large td {
        padding-bottom: 5px;
        padding-top: 5px; }

.guarantee {
  padding-top: 15px;
  text-align: center; }
  .guarantee .box-green {
    background-image: url("../img/intro/bg-green.jpg");
    background-size: auto 100%;
    padding: 15px; }
  .guarantee .box-white {
    background-color: #ffffff;
    padding: 15px 30px; }
  .guarantee figure {
    margin: 0 auto; }
  .guarantee h3 {
    color: #e16b1e;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: left; }
  .guarantee p {
    text-align: left; }

.scientific_references {
  padding-top: 15px; }
  .scientific_references h5 {
    color: #008ba4;
    font-size: 1.3em; }
  .scientific_references ol {
    padding-left: 15px;
    padding-top: 10px; }
    .scientific_references ol li {
      color: #383838;
      font-size: 18px;
      line-height: 25px;
      word-break: break-word; }
  .scientific_references h5, .scientific_references ol {
    margin: 0 auto;
    width: 61%; }
  .scientific_references a {
    display: block;
    font-size: 20px;
    margin: 15px auto;
    text-align: center; }
  .scientific_references .button {
    font-size: 22px;
    letter-spacing: 1.4px;
    margin-left: 50px; }
    .scientific_references .button:before {
      height: 100px;
      width: 100px; }

footer {
  padding-top: 15px;
  padding-bottom: 15px; }
  footer nav.col {
    padding: 0 9%;
    text-align: center; }
    footer nav.col a {
      color: #8f8f8f;
      font-size: 18px; }

.copyright {
  color: #333333;
  font-size: 18px;
  margin-top: 15px;
  text-align: center; }
