html {
  margin: 0;
  padding: 0; }

body {
  font-family: "Glober", "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300; }

h1 {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase; }
  .intro h1:before, .intro h1:after {
    background-color: #ffffff;
    content: '';
    height: 2px;
    left: -2%;
    position: absolute;
    top: 48%;
    width: 18%; }
  .intro h1:after {
    left: auto;
    right: -2%; }

h2 {
  letter-spacing: -1px;
  line-height: 43px;
  margin-left: 15px;
  margin-top: 5px;
  text-align: center; }
  h2 .underline-red {
    background-image: url("../img/intro/bg-red-line.png");
    background-position: 0px -8px;
    font-size: 1.2em;
    letter-spacing: 0.8px; }

h3 {
  text-align: center; }

img {
  max-width: 100%; }

a {
  color: #54b8cd; }
  a:hover {
    color: #54b8cd; }

.info {
  color: #54b8cd; }

b, .bold {
  font-weight: 700; }

.hidden {
  display: none !important; }

.visible {
  display: block !important; }
