html {
  margin: 0;
  padding: 0; }

body {
  font-family: "Glober", "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300; }

h1 {
  font-size: 32px; }

h2 {
  font-weight: 400; }

a {
  color: #54b8cd; }
  a:hover {
    color: #54b8cd; }

.info {
  color: #54b8cd; }

b, .bold {
  font-weight: 700; }

.hidden {
  display: none !important; }

.visible {
  display: block !important; }
